
*.zip
*.apk
*.msix
/repo/
/pro2
/files
/release
/.idea
/.dart_tool
/build
web_builder.dart
/.vscode
debug_builder.dart
debug_builder.dart
/web
/web
debug.dart
debug_builder.dart
debug_builder.dart
requirement/dmg_installer/onchain.dmg
.DS_Store
/.c_cache
/.rust_cache
/tmp
